body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling */
}

.long-image {
    width: 100%;
    /* Adjust height according to your image's aspect ratio */
    height: 5000px; /* Example height, adjust as needed */
    background-image: url('jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj.png');
    background-size: auto;
    background-position: center;
}
